.navbar-inverse{
	background: #2c3e50;
}
.carousel-inner {
    height: 400px;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    min-height: 100%;
    max-height: none;
}